
body{
    background-color:#1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-image: image();
}
.area-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #181920;
    width: 325px;
    height: 325px;
    padding: 31px; 
    border-radius: 15px;
    margin-right: 0px;
}
.login form{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.login input{
    margin-top: 10px;
    background-color: #252A25 ;
    padding-left: 10px;
    color: #CBD0F7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}
input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}
form [type="submit"]{
    display: block;
    background-color: rgb(165, 34, 34);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
p{
    color: white; 
    text-align: center;
}
a{
    color: aqua;
    text-decoration: none;
    margin-left: 85px;
    display: block;
    font-size: 15px;
    font-weight: bold;
}
