*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}

#Menu-h ul{
    list-style: none;
    padding: 0;
    background-color: rgb(32, 10, 10);
}

#Menu-h ul li{
    display: inline;
}

#Menu-h ul li a{
    color: aliceblue;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
}

#Menu-h li a:hover{
    background-color:rgb(6, 59, 105);

}

#Menu-h ul li:last-child a {

    float: right;    
    background-color: blue;
}